<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Activity
    </h2>
  </div>
  <div class="card-section stats">
  <table class="table-list">
    <thead>
      <tr>
        <th></th>
        <th class="activity__heading">Last month</th>
        <th class="activity__heading">Last week</th>
        <th class="activity__heading">Last day</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th class="activity__heading">
          Participants
        </th>
        <td>
          65225
        </td>
        <td>14579</td>
        <td>2476</td>
      </tr>
      <tr>
        <th class="activity__heading">
          Admins
        </th>
        <td>
          41
        </td>
        <td>
          21
        </td>
        <td>
          4
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
