<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Metadata
    </h2>
  </div>
  <div class="card-section">
    <div class="callout warning">
      Upgrade your installation
    </div>
    <dl>
      <dt>Release</dt>
      <dd>0.15.0</dd>
    </dl>
    <dl>
      <dt>Last release</dt>
      <dd>0.19.0</dd>
    </dl>
  </div>
</div>
