<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      Statistics
    </h2>
  </div>
  <div class="card-section">
  <table class="table-list">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Plural</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          provincia
        </td>
        <td>
          provincias
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          distrito
        </td>
        <td>
          distritos
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
