<%
@title = "Decidim Admin"
@activesection = "metrics"
%>

<%= partial "template_top" %>
<div class="layout-nav">
  <%= partial "home_nav" %>
</div>
<div class="layout-content">
  <div class="container">
    <%= partial "metrics_list" %>
  </div>
</div>
<%= partial "template_bottom" %>
